[1.0] Package constants not offered to autocomplete

See the example below:

```go
time.Parse(time.<cursor>)
```

Possible variants would be:
```
RFC850
RFC1123
RFC1123Z
RFC3339
```

Not sure if this is related to the type inference system or not.

Can't reproduce.
![screenshot 2015-02-25 14 44 57](https://cloud.githubusercontent.com/assets/426890/6370024/e659ded2-bcfc-11e4-9f5b-e41342e4a1d8.png)


I'll try to replicate this better, strange.

Any news?